html{
  background-color: #FDF5E6;
}

h1, h2 {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 3rem;

}
header {
  display: flex;
  justify-content:space-around;
  margin-top: 5rem;
  
}
.links{
  list-style-type: none;
  margin: 1rem;
  font-size: 2rem;
}
main {
  margin-top: 35px;
  height: 80vh;
}

.imgContainer {
  display: flex;
}
.imgContainer img, #homeImg {
  margin: auto;
  width: 400px;
  height: 400px;
  max-width: 800px;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

#pokemonsForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 20rem;
	padding-bottom: 1rem;
	margin: auto;
  }
  #pokemonsLists{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-items: flex-start;
	width: 45rem;
	margin: auto;
  }
  #pokemonsForm input, button {
	margin-bottom: .5rem;
	
  }
  
  #pokemonsForm input {
	width: 90%;
	max-width: 25rem;
	text-align: center;
  }
  
  .pokemon-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
	width: 100%;
	
  }
  .pokemon-div button {
	font-size: 2rem;
  }
  .pokemon-div li {
	display: flex;
	justify-content: space-between;
	word-wrap:break-word;
	margin: 5px;
	list-style-type: none;
	width: 100%;
	background-color: #FFD700;
	align-items: center;
	overflow-wrap:anywhere;
	font-size: 1.5rem;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;
  }

#giphySearchForm {
  display: flex;
  flex-direction: column;
}

#subtitle {
  text-align: center;
  align-self: center;
}

#giphySearchForm label, input, button {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
  align-self: center;
}




