html{
  background-color:linen;
}

.TodoList {
  display: grid;
  justify-content: center;
}
.Signature{
  display: grid;
  justify-content: center;
  font-size: .75rem;
  color:grey;
}
h1, h4 {
  display: grid;
  justify-content: center;
  color: deeppink;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

li {
  list-style-type: none;
  color: darkblue
}
button{
  margin-left: 1rem;
}
#todoForm{
  display: grid;
  justify-content: center;
}
#addTodo{
  display: grid;
  margin-top: 1rem;
  justify-content: center;
  margin-left: -1px;
}
h3{
  display: grid;
  justify-content: center;
  font-weight: bold;
  color: red;
}
